body{
    background-color: cornsilk;
}
header{
    background-color: rgb(175, 121, 121);
    height: 10vh;
    text-align: center;
}
header > h1 {
    font-size: 5em;
    margin-top: 0px;
    text-transform: uppercase ;

}

main{
    padding:0px ;
}
#Comidas{
    background-color: silver;
    padding: 3%;
    text-align: left;
}

#Comidas-img-1{
    margin: 0px;
    text-align: center;

}

.titulo-españa{
    font-size: 4rem;
    transition: 2s;

}
.titulo-españa:hover{
    background-color: royalblue;
}

#Comidas-img-1 > figcaption{
    text-align: center;
}
#Comidas-img-1>figcaption{
    font-size: 2rem;
}
#España>h2{
    font-size: 4rem;
}

.content-fig{
    widows: 50vw; ;
    height: 45vh;
}

#España>ul>li{
    font-size: 3rem;
}
#img-Paella > img{
    widows: 40vw; ;
    height:38vh ;
}
#img-Paella> figcaption{
    font-size:3.5rem ;
}

footer{
    background-color: rgb(61, 97, 99);
    min-height: 5vh;
    text-align: center;
}
footer>address>a {
    font-size: 2em;
    color: seashell;
    text-transform: uppercase;

}